<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.hrm.oss.mapper.HrmOssRelationMapper">

    <select id="queryListByBusinessIds" resultType="org.dromara.hrm.oss.domain.vo.HrmOssRelationVo">
        SELECT * FROM hrm_oss_relation
        WHERE business_id IN
        <foreach collection="businessIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND business_type = #{businessType}
    </select>
</mapper>
